/* 長期照顧服務 */
.iconcrae ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2em 0;
}

.iconcrae ul li {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.iconcrae ul li a:hover {
  background: #fff;
  box-shadow: 0px 0px 20px rgba(209, 106, 19, 0.35);
}

.iconcrae ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  color: #663C2A;
  font-size: 1em;
  font-weight: bold;
  border-radius: 25px;
  background-color: #fff;
  padding: 0.9em;
  text-decoration: none;
  transition: .3s ease-in;
  transform: scale(1.1);
}

.iconcrae ul li a img {
  width: 4em;
}

/* 品牌介紹 */
.brand {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 25px;
  padding: 50px;
  position: relative;

  &::before {
    content: '';
    width: 50%;
    height: 100vh;
    background-image: url('../images/Home/heartlove.png');
    background-size:cover;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    transform: translate(45%, 110%);
  }
}

.brand1 {
  font-weight: bold;
  color: #663C2A;
}

/* 這裡是跳舞的花 */
#position {
  position: absolute;
  top: -130px;
  left: 25%;
}

/* 這裡是跳舞的花2 */
#position2 {
  position: absolute;
  top: -130px;
  right: 25%;
}

.sunflower {
  position: relative;
  height: 30px;
  width: 30px;
}

.head {
  animation: move 2s infinite linear;
  height: 50px;
  width: 62px;
  position: relative;
  left: 8px;
  top: 39px;
  transform-origin: 50% -7px;
  user-select: none;
}

.head .eye {
  background: #43699a;
  border-radius: 10px;
  height: 5px;
  position: absolute;
  top: 30px;
  width: 5px;
}

.head .eye#eye-1 {
  left: 17px;
  animation: eye 4s linear infinite normal 0.5s;
}

.head .eye#eye-2 {
  right: 17px;
  animation: eye 4s linear infinite normal 0.5s;
}

.head .mouth {
  background: #ecf0f1;
  border-radius: 30px;
  bottom: 2px;
  clip: rect(8px, 15px, 16px, 0);
  height: 16px;
  margin-left: -7.5px;
  position: absolute;
  left: 50%;
  width: 15px;
}

.petals {
  z-index: -1;
  border-radius: 100%;
  display: inline-block;
  background-color: #faaa18;
  height: 50px;
  width: 50px;
  position: absolute;
  animation: petals 2s infinite linear;
  box-shadow: 15px 17px #ffe000,
    -15px 17px #ffe000,
    -22px -7px #ffe000,
    0px -22px #ffe000,
    22px -7px #ffe000;
}

.trunk {
  height: 65px;
  width: 5px;
  background: #77b039;
  left: 37px;
  top: 100px;
  position: absolute;
  z-index: -2;
  animation: trunk 2s infinite linear;
}

.left-branch {
  background: #77b039;
  height: 35px;
  width: 9px;
  position: absolute;
  left: -12px;
  top: 24px;
  border-radius: 100% 0% 0% 0%;
  -webkit-border-radius: 100% 0% 0% 0%;
  -moz-border-radius: 100% 0% 0% 0%;
  -ms-border-radius: 100% 0% 0% 0%;
  -o-border-radius: 100% 0% 0% 0%;

  transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
}

.right-branch {
  background: #77b039;
  height: 35px;
  width: 9px;
  position: absolute;
  top: 24px;
  left: 10px;
  border-radius: 0% 100% 0% 0%;
  -webkit-border-radius: 0% 100% 0% 0%;
  -moz-border-radius: 0% 100% 0% 0%;
  -ms-border-radius: 0% 100% 0% 0%;
  -o-border-radius: 0% 100% 0% 0%;

  transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
}

.vase:before {
  background: #f9a018;
  width: 58px;
  height: 20px;
  top: -50px;
  left: -10px;
  position: absolute;
}

@keyframes petals {
  0% {
    transform: rotate(0);
    left: 10px;
  }

  25% {
    left: 20px;
  }

  50% {
    left: 10px;
  }

  75% {
    left: 20px;
  }

  100% {
    transform: rotate(360deg);
    left: 10px;
  }
}

@keyframes hmove {
  0% {
    left: 5px;
  }

  25% {
    left: 15px;
  }

  50% {
    left: 5px;
  }

  75% {
    left: 15px;
  }

  100% {
    left: 5px;
  }
}

@keyframes eye {
  from {}

  79% {
    height: 5px;
  }

  80% {
    height: 0px;
  }

  85% {
    height: 5px;
  }

  to {
    height: 5px;
  }
}

@keyframes trunk {
  0% {
    left: 34px;
    transform: rotate(-5deg);
  }

  25% {
    left: 40px;
    transform: rotate(5deg);
  }

  50% {
    left: 34px;
    transform: rotate(-5deg);
  }

  75% {
    left: 40px;
    transform: rotate(5deg);
  }

  100% {
    left: 34px;
    transform: rotate(-5deg);
  }
}

.footersunflower {
  position: relative;
}

.footersunflower img {
  width: 100%;
}
@media screen and (max-width: 1400px) {
  .brand::before {
    background-image: unset!important;
  }
}
@media screen and (max-width: 1200px) {
  .iconcrae ul li a {
    width: 200px;
    height: 200px;
    font-size: 0.9em;
    padding: 0.4em;
  }

  .iconcrae ul li a h4 {
    font-size: 1.1em;
  }
  .brand1{
    font-size: 2em;
  }
  .brand2{
    font-size: 1.4em;
  }
}

@media screen and (max-width: 992px) {
  .icontitle {
    font-size: 2em;
  }

  .icontitle1 {
    font-size: 1.4em;
  }
  .iconcrae ul li a {
    width: 150px;
    height: 150px;
    font-size: 0.7em;
    padding: 0.4em;
  }

  .iconcrae ul li a h4 {
    font-size: 1em;
  }

  .brand1{
    font-size: 1.7em;
  }
  .brand2{
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {
  .icontitle {
    font-size: 1.7em;
  }
  .icontitle1 {
    font-size: 0.6em;
  }
  .brand1{
    font-size: 1.4em;
  }
  .brand2{
    font-size: 0.8em;
  }
  .footerold{
    display: none;
  }
  .footersunflower{
    display: none;
  }
  .iconcrae ul li a {
    width: 120px;
    height: 120px;
    font-size: 0.7em;
    padding: 0.4em;
  }
}

@media screen and (max-width: 520px) {
  .icontitle {
    font-size: 1.2em;
  }

  .icontitle1 {
    font-size: 0.7em;
  }
  .brand{
    display: none;
  }
  .iconcrae ul li a {
    width: 200px;
    height: 200px;

  }
  .homebr{
    display: none;
  }
  .homebr1{
    display: none;
  }
  .homebr2{
    display: none;
  }
  .homebr3{
    display: none;
  }
}

@media screen and (max-width: 422px) {
  .iconcrae ul li a {
    width: 150px;
    height: 150px;
    font-size: 0.7em;
    padding: 0.4em;
  }
}