/* for 最新消息內文的css */
.new-content {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.w3-bar-block .w3-bar-item {
  font-size: 20px;
  padding: 15px 20px !important;
}

.newsitem {
  border-bottom: solid #d9dcd9;
  padding: 20px;
  font-size: 20px;
}
.newslink{
  text-decoration: none;
}

.newslink:hover {
  color: #CF4501;
  border-bottom: solid 1px #CF4501;
}

.mutedcontent{
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 768px) {
  .newslink {
    font-size: 0.9em;
  }
  .text-muted{
    font-size: 0.7em;
  }
}

@media screen and (max-width: 520px) {
  .newslink {
    font-size: 0.7em;
  }
  .text-muted {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 390px) {
  .newslink {
    font-size: 0.6em;
  }
  .text-muted {
    font-size: 0.5em;
  }
}
