/* 這是手風琴 */
.accordion-button:not(.collapsed) {
  color:white!important;
  background-color:#F3C640!important;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
}

.accordion-button:focus {
  border-color: black!important;
  box-shadow:black!important; 
  z-index: 1!important; 
}

.accordion {
  --bs-accordion-btn-focus-border-color: black!important;
  --bs-accordion-btn-focus-box-shadow: black!important; 
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.accordion-button:hover{
  background-color: #F3C640;
  color:black;
}
