.newsBox {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: white!important;
    border-radius: 25px;
}
.newsbtn{
    background-color: #f3b90b ;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;
}

