/* 會員登出 */
.hide{
  display: none;
}


/* header */
.navbar-brand{
  font-size: 20px;
  
}

.navbar-brand:hover {
  color: #CF4501!important;
}

.headerlogo{
  width: 6em;
}

/* 會員登入按鈕 */
.user {
  border: black solid 1px;
  border-radius: 20px;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
}

.user:hover {
  color: white !important;
  background-color: #cf4501 !important;
  border-color: #cf4501!important;
}

.d-flex .search-icon{
  font-size: 30px;
  display: none!important;
}


@media screen and (max-width: 990px){
  .user span {display: none;}
  .user {
    border: none;
    border-radius:none;
    font-size:25px;
  }
.d-flex.search-bar {
  display: none!important;
}
.d-flex .search-icon{
display: flex!important;
}
.navbar-brand{
  display: none!important;
}
.headerlogo{
    width:4em;
}
}