.appointment {
  position: relative;
  overflow: hidden; /* 子元素不溢出 */
}

.appointment::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../asset/images/reserve/reserve_bg.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; /* 將偽元素置於背景 */
}

#formcontent{
  box-shadow: 0 8px 20px rgba(0,0,0,0.7);
  border-radius: 25px;
  background-color: white;
}

.appointment h2{
  text-align: center;
  padding-bottom: 5px;

}
.appointment form {
  background-color:rgb(246, 246, 246);
  padding:30px 40px;
}
.form-row {
  margin-top:20px;
}

.form-row input{
  border: 0px;
  border-bottom: 1px solid #d0d0d0;
  font-size: 1.2em;
  }

.appointment form p{
  margin: 1px;
  font-size: 1.2em;
}
.appointment form hr {
  height: 1px;
  background-color: black; 
}
textarea {
  resize: none;
  vertical-align: top;
}
.button-container {
  margin-top: 20px; 
  font-size: 1.2em;
  text-align: center; 
}

.cancel-button {
  border: none;
  width:25%;
  height:35px;
  color:white;
  border-radius: 5px;
  background-color:#555352;
  margin-right:40px;
  font-weight: bold;
}
.submit-button {
  border: none;
  width:25%;
  height:35px;
  color:white;
  border-radius: 5px;
  background-color:#CF4501;
  font-weight: bold;
}


/*confirm*/

#formcontentConfirm input[type="text"],
#formcontentConfirm input[type="email"],
#formcontentConfirm input[type="tel"],
#formcontentConfirm input[type="date"],
#formcontentConfirm input[type="number"],
#formcontentConfirm select,
#formcontentConfirm textarea {
  background-color: #f0f0f0; /* 這裡是你想要的背景顏色 */
  border: 1px solid #ccc; /* 可選，設置邊框 */
  pointer-events: none
}

#formcontentConfirm{
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 25px;
  background-color: white;
}