/* 輸入錯誤 */
.forgetpasswordshow{
  color: red;
}

.hide{
  display: none;
}

/* 頁面會員登入 */
  
  .account{
    width:90%;
    border: 0;
    font-size: 18px;
    border-bottom: 1px solid #d0d0d0;
  }
  .forgotpassword{
    border-radius: 5px;
    font-size: 1.3em;
    background-color: #CF4501;
    color:white;
    border: 1px solid #cf4501;
  }
  
  .forgotpassword1{
    background-color: white;
    padding: 50px 70px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 25px;
  }


@media screen and (max-width: 490px) {
  .forgotpassword1{
    padding: 30px 50px;
  }
}

@media screen and (max-width: 440px) {
  .forgotpassword1{
    padding: 10px 30px;
  }
}

@media screen and (max-width: 420px) {
  .forgotpassword1{
    padding: 20px 20px;
  }
}