/* 這邊是側邊欄 */
.w3-light-grey{
    background-color: #ffffff!important;;
    border-radius: 10px;
  }

.w3-button:hover {
    color: #ffffff!important;
    background-color: #CF4501!important;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
}
.w3-sidebar{
    z-index: 0;
    position: static!important;
}
.nav-item{
  font-size: 20px;
} 

/* 這裡是側邊欄active固定顏色 */
.w3-sidebar .w3-bar-item.active {
    background-color: #cf4501;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
}


@media screen and (max-width: 992px) {
  .w3-sidebar {
    display: none;
  }
}