.topnav {
  background-color: #F7EAD7;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 23px;
  z-index: 2;
}

.topnav .topnav-title {
  display: flex;
  color: #663C2A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.dropdown-content {
  background-color: #F3C640 !important;
  min-width: 210px !important;
  padding: 20px !important;
  border-radius: 5px;
}

.dropdown-content1 a {
  margin-bottom: 8px;
  background-color: white;
  border-radius: 5px;
}

.topnav a:hover {
  border-bottom: 3px solid #CF4501;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dvi a {
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #CF4501;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1400px) {
  .topnav .topnav-title {
    font-size: 19px
  }
}

@media screen and (max-width: 1200px) {
  .topnav .topnav-title {
    font-size: 15px
  }
}

@media screen and (max-width: 1000px) {
  .dropdown-content {
    background-color: unset !important;
    padding: 0px 0px 0px 40px!important;
    border: 0px !important;
    box-shadow: none !important;
    margin: 0px!important;
  }

  .dropdown-content1 a {
    font-size: 14px!important;
    background-color:unset!important;
    color: #663C2A!important;
    text-shadow:none !important;

  }
}